In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df2 = pd.read_csv('file.csv')
df2 = df2.drop_duplicates('geoid')

In [4]:
df2.head()

,statefp,countyfp,tractce,geoid,name,namelsad,mtfcc,funcstat,aland,awater,intptlat,intptlon
0,39,021,010200,39021010200,102.0,Census Tract 102,G5020,S,254963980,1528641,40.1538168,-83.9647388
1,39,021,010500,39021010500,105.0,Census Tract 105,G5020,S,6985049,4584,40.1121978,-83.7257641
2,39,021,010400,39021010400,104.0,Census Tract 104,G5020,S,37288174,128056,40.1384153,-83.7873623
3,39,085,204302,39085204302,2043.02,Census Tract 2043.02,G5020,S,4108020,11929,41.7124067,-81.2575497
4,39,085,206600,39085206600,2066.0,Census Tract 2066,G5020,S,2637240,0,41.6488658,-81.455889

In [5]:
df3 = pd.read_csv('nhgis0004_ds201_20135_2013_tract.csv', dtype={'STATEA': object, 'COUNTYA': object, 'TRACTA': object})
df3['ID'] = df3.apply(lambda x: x.STATEA + x.COUNTYA + x.TRACTA, axis=1)

In [6]:
df = pd.merge(df2[['intptlat','intptlon','aland','geoid']], df3[['UEPE001','ID']], left_on='geoid', right_on='ID')
df.columns = ['lat','lon','area','tract','pop','tract2']

In [84]:
df.head()

          lat          lon       area        tract   pop       tract2
0  40.1538168  -83.9647388  254963980  39021010200  7174  39021010200
1  40.1121978  -83.7257641    6985049  39021010500  3945  39021010500
2  40.1384153  -83.7873623   37288174  39021010400  4160  39021010400
3  41.7124067  -81.2575497    4108020  39085204302  6727  39085204302
4  41.6488658   -81.455889    2637240  39085206600  4697  39085206600

In [8]:
df.area = df.area.apply(float)
df.lat = df.lat.apply(float)
df.lon = df.lon.apply(float)
df = df[df.area>0]
df['density'] = df.apply(lambda x: x['pop']/x['area']/3.86102e-7, axis=1)

In [9]:
df.to_csv("tracts.csv", index=False)